$value:767px;
$meniMobile:"(max-width:565px)";
$Mobile:"(max-width:767px) ";
$minMedium:"(min-width:768px)" ;
$medium:"(min-width:992px) ";
$lg:"(min-width:1200px)";

$redColor: #e2494c;
$grayColor:#d9d9d9;
$pragColor:#9c9c9c;


$float-left:left;
$float-right:right;

$text-left:left;
$text-right:right;
